<style type="text/css">
  form {
  margin: auto;
  width: 300px;
  background-color: #F5F5F5;
  padding: 24px;
  border-radius: 4px;
  margin-bottom: 24px;
}
#save-button {
  border-radius: 4px;
  border: 1px solid #d1d3d5;
  color: #009BDB;
  text-transform: uppercase;
  background-color: #FFFFFF;
  padding: 23px 109px;
  height: auto;
}
#save-button:hover {
  color: #FFFFFF;
  background-color: #009BDB;
}
input,
textarea {
  width: 98%;
  height: 2rem;
  border-radius: 4px;
}
#article_text {
  height: 6rem;
}
</style>

<%= form_with model: @article, local: true do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>